@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force Times New Roman */
body {
  font-family: 'Times New Roman', Times, serif;
}

/* Custom color variables */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --link: #0000FF;
}

br {
  line-height: 0.5;
}

.dark {
  --background: #000000;
  --foreground: #e8e8e8;
  --link: #2e47ff;
}